* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #ffffff;
  color: #000;
  overflow-x: hidden;
}

/* utility classes */
.brdr {
  border: 1px solid red !important;
}
